@import '../variables';

$pager-item-padding: 6px 12px;

// Pagination styling.

.pager {}

.pager__items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &--center {
    justify-content: center;
  }
}

.pager__link {
  padding: $pager-item-padding;
}

.pager__item {

  &--ellipsis {
    padding: $pager-item-padding;
  }

  &--disabled {
    color: darken($color-white, 25%);
  }

  &--first {}
  &--previous {}

  &--current {
    color: $color-black;
  }

  &--next {}
  &--last {}
}
