.status-message {
  &--error {
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
  }

  &--status {
    background: #cce5ff;
    border: 1px solid #b8daff;
    color: #004085;
  }

  &--warning {
    background: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
  }
}

// .status-messages__list {}

// .status-messages__list-item {}
