// Text
//
// Used for styling small blocks of text. Mainly used as a utility class and
// should only be used if no other styling is required for the element.

.text {
  display: block;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
