@use '../../../scss/mixins/layout';
@use '../../../scss/variables/color';

.page-section {
  padding-left: 32px;
  padding-right: 32px;
}

.page-section__header {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
}

.page-section__icon {
  height: 24px;
}

.page-section__title {
  color: color.$white;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
}

.page-section--contained {
  .page-section__header,
  .page-section__content {
    @include layout.container();
  }
}
