// General styling

@use '../variables/default';

html,
body {
  color: default.$font-color;
  font-family: default.$font-family;
  font-size: default.$font-size;
  font-weight: default.$font-weight;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
}
