// This file is used to create the styling for the CKEditor WYSIWYG.
//
// Only include styling that is relevant for content that may be added to the
// WYSIWYG to both reduce the stylesheet size and the complexity of the
// styling.

// Import external styling.
@import '~normalize.css/normalize.css';

// Import our own styling for editor content.
@import 'typography';
@import 'media/image';
@import 'media/video';

// Define any custom styling here if you need to style som element
// specifically for use in the CKEditor WYSIWYG.
