@import 'variables';

// Typographic styling.

// Headings.

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {}

// h1 {}

// h2 {}

// h3 {}

// h4 {}

// h5 {}

// h6 {}

// Text layout and formatting.

.text {
  display: block;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
