// Variables.

// Colors.

$color-black: #000;
$color-white: #fff;

// Defaults.

$default-border-radius: 3px;

// Buttons.

$button-primary-background-color: #282828;
$button-secondary-background-color: #eee;
