// Variables.

// Colors.

$color-black: #000;
$color-white: #fff;
$color-charcoal: #475168;

// Fonts.

$default-font-family: 'Helvetica Neue', Arial, sans-serif;
$default-font-size: 16px;
$default-font-color: $color-charcoal;

// Defaults.

$default-border-radius: 3px;

// Buttons.

$button-primary-background-color: #282828;
$button-secondary-background-color: #eee;
