// Variables

// Breakpoints

$breakpoints: (
  mobile: 0,
  tablet: 600px,
  tablet-landscape: 900px,
  desktop: 1200px,
  desktop-large: 1800px,
) !default;

// Bootstrap
//
// This configures the breakpoints for usage with the bootstrap responsive
// mixins.

$grid-breakpoints: $breakpoints;

// Colors.

$color-black: #000;
$color-white: #fff;
$color-charcoal: #475168;

// Fonts.

$default-font-color: $color-charcoal;
$default-font-family: 'Source Sans Pro', sans-serif;
$default-font-size: 16px;
$default-font-weight: 400;

// Defaults.

$default-border-radius: 3px;

// Buttons.

$button-primary-background-color: #282828;
$button-secondary-background-color: #eee;
